version: '3'

x-minio-common: &minio-common
  image: quay.io/minio/minio:RELEASE.2023-02-27T18-10-45Z
  command: server --console-address ":9002" /data
    # environment:
    # MINIO_ROOT_USER: minioadmin
    # MINIO_ROOT_PASSWORD: minioadmin
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9002/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3

services:
  users:
    image: 'bitnami/postgresql:latest'
    environment:
      - POSTGRESQL_USERNAME=postgres
      - POSTGRESQL_PASSWORD=postgres
      - POSTGRESQL_DATABASE=users
    ports:
      - '5432:5432'

  news:
    image: 'bitnami/postgresql:latest'
    environment:
      - POSTGRESQL_USERNAME=postgres
      - POSTGRESQL_PASSWORD=postgres
      - POSTGRESQL_DATABASE=news
    ports:
      - '5433:5432'
  
  minio:
    <<: *minio-common
    hostname: brutal-itsm-minio
    volumes:
      - data1-1:/data
    ports:
      - "9002:9000"

volumes:
  data1-1:
